<!DOCTYPE html>
<html lang="zh-Hant">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='js/bootstrap.bundle.js') }}">
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>

<body>
    {% block nav %}
    {% endblock %}
    {% block content %}
    <div id="footer">
        {% block footer %}
        &copy; Copyright 2008 by <a href="http://domain.invalid/">you</a>.
        {% endblock %}
    </div>
    {% endblock %}

    <script src="{{ url_for('static',filename='js/bootstrap.bundle.js') }}">
    </script>
</body>

</html>