{% extends "base_navigation.html" %}
{% block title %}Flask_Dash{% endblock %}
{% block head %}
{{ super() }}
<style>
    @media (min-width: 576px) {}


    @media (min-width: 768px) {}


    @media (min-width: 992px) {}


    @media (min-width: 1200px) {}


    @media (min-width: 1400px) {}
</style>
{% endblock %}
{% block content %}<h1>Flask_Dash</h1>
<div id="content-lg">{{super()}}</div>{% endblock %}
{% block footer %}
&copy; Copyright 2008 by <a href="https://flask-dash-web-0zgq.onrender.com">123456</a>.
{% endblock %}