{% extends "base_navigation.html" %}

{% block title %}
註冊
{% endblock %}

{% block head %}
{{ super() }}
<style>
    #resetBtn {
        margin-right: 20px;
    }

    @media (min-width: 576px) {}


    @media (min-width: 768px) {}


    @media (min-width: 992px) {}


    @media (min-width: 1200px) {}


    @media (min-width: 1400px) {}
</style>
{% endblock %}


{% block content %}
<div class="container-lg">
    <h1>註冊帳號</h1>
    <form method="POST">
        {{ form.csrf_token }}
        <table class="table">

            <tbody>
                <tr>
                    <th scope="row" class="col-2 text-end">{{ form.uName.label(class='form-label') }}</th>
                    <td>
                        {{ form.uName(size=20,class='form-control') }}
                    </td>
                </tr>

                <tr>
                    <th scope="row" class="col-2 text-end">{{ form.uGender.label(class='form-label') }}</th>
                    <td>
                        {{ form.uGender(class='form-select') }}
                    </td>
                </tr>

                <tr>
                    <th scope="row"></th>
                    <td>
                        <input type="reset" id="resetBtn" value="重設" class="btn btn-secondary" />
                        <input type="submit" value="確定" class="btn btn-primary" />

                    </td>

                </tr>
            </tbody>
        </table>

        {{ super() }}
</div>

{% endblock %}


{% block footer %}
&copy; Copyright 2023 by <a href="https://flask-dash-web-uym5.onrender.com">徐國堂</a>.
{% endblock %}